{% extends 'dietplan/base1.html' %}
{% block content%}
{% load static %}

<h4>your calorie intake per day should be between 1300-1400 cals</h4>

<br>
<h4>Veg Meal plan</h4>
<br>
<table id="customers" >
    <tr><th>Day</th>
    <th>Breakfast</th>
    <th>Lunch</th>
    <th>Snack</th>
    <th>Dinner</th>
    </tr>
    <tr>
        <td>Sunday</td>
        <td>2 Fruits(Apple, banana, orange, melon), and brown Poha</td>
        <td>Cooked(steamed) brown rice,Masoor Dal, salad(cucumber/carrots),with any vegetable cooked with less oil(olive oil or Gingelly oil) + curd(if needed) </td>
        <td>steamed peanuts (1 bowl), and and Tea withwithout milk and half tea spoon sugar</td>
        <td>Vegetable soup + Aloo paratha</td>
    </tr>
    <td>Monday</td>
    <td>Any 2 fruits, +Nuts(few), Brown bread toast and milk(1cup)</td>
    <td>Cooked(steamed) brown rice,Lentil Dal, salad(cucumber/carrots), with any vegetable cooked with less oil(olive oil or Gingelly oil) + curd(if needed)</td>
    <td> Walnuts(6-7) and Tea withwithout milk and half tea spoon sugar</td>
    <td> Tomato- Soup +Chapati(3-4) and vegetable gravy</td>
    </tr>
    <tr>
        <td>Tuesday</td>
        <td>Any 2 fruits, Dosa/Idli with chatni and/or sambar</td>
        <td>Cooked(steamed) brown rice,salad(cucumber/carrots), Moong Dal, with any vegetable cooked with less oil(olive oil or Gingelly oil) + curd(if needed) </td>
        <td>Steamed Sprouts + Tea with/without milk and sugar</td>
        <td>Roti + Any vegetable </td>
    </tr>
    <tr>
        <td>Wednesday</td>
        <td>Any 2 Fruits, Oat-Meal/Cereal with Milk </td>
        <td>Cooked(steamed) brown rice, salad(cucumber/carrots), Toor Dal, with any vegetable cooked with less oil(olive oil or Gingelly oil)+ curd(if needed)</td>
        <td>Steamed Chickpeas + Tea with/without milk and sugar</td>
        <td> vegetable soup + Chapati(wheat)+ any Veg gravy/paneer </td>

    </tr>
    <tr>
        <td>Thursday</td>
        <td>Any 2 Fruits, Idli/Dosa/Uthapam with sambar and chatni</td>
        <td>Cooked(steamed) brown rice,, salad(cucumber/carrots),sambar ,with any vegetable cooked with less oil(olive oil or Gingelly oil)+ curd if needed </td>
        <td>Tea with/without milk and whole-wheat biscuits(few) + few walnuts</td>
        <td> vegetable soup + rice + any veg gravy</td>
    </tr>
    <tr>
        <td>Friday</td>
        <td>Any 2 Fruits, Brown poha +Almonds(few)</td>
        <td>Cooked(steamed) brown rice,salad(cucumber/carrots), sambar ,with any vegetable cooked with less oil(olive oil or Gingelly oil), curd if needed </td>
        <td>Steamed sprouts + Tea with/without Milk and Sugar</td>
        <td>Roti + veg gravy</td>
    </tr>
    <tr>
        <td>Saturday</td>
        <td> Any 2 fruits, +Nuts(few), Brown bread toast and milk(1 cup)</td>
        <td>Cooked(steamed) brown rice, salad(cucumber/carrots), Vegetable gravy ,with any vegetable cooked with less oil(olive oil or Gingelly oil)+ curd if needed</td>
        <td>Steamed Peas + Tea with/without Milk and Sugar</td>
        <td>Tomato- Soup +Wheat Chapati + Any vegetable gravy <td>
    </tr>

</table>

<br><h4>Non-veg Meal plan</h4><br>
<table id="customers">
    <tr><th>Day</th>
    <th>Breakfast</th>
    <th>Lunch</th>
    <th>Snack</th>
    <th>Dinner</th>
    </tr>
    <tr>
        <td>Sunday</td>
        <td>2 Fruits(Apple, banana, orange, melon), and brown Poha</td>
        <td>Cooked(steamed) brown rice,Masoor Dal, salad(cucumber/carrots),with any vegetable cooked with less oil(olive oil or Gingelly oil) + fish curry(salman/sardine) </td>
        <td>steamed peanuts (1 bowl), and and Tea withwithout milk and half tea spoon sugar</td>
        <td>Vegetable soup + Aloo paratha+ fish curry</td>
    </tr>
    <td>Monday</td>
    <td>Any 2 fruits, +Nuts(few), Brown bread toast and boiled egg(1)</td>
    <td>Cooked(steamed) brown rice,Lentil Dal, salad(cucumber/carrots), with any vegetable cooked with less oil(olive oil or Gingelly oil)/Fish gravy(salmon/sardines) + curd(if needed, not to be taken while having non veg)</td>
    <td> Walnuts(6-7) and Tea withwithout milk and half tea spoon sugar</td>
    <td> Tomato- Soup +Chapati(3-4) and vegetable gravy/nonveg gravy</td>
    </tr>
    <tr>
        <td>Tuesday</td>
        <td>Any 2 fruits, Dosa/Idli with chatni and/or sambar</td>
        <td>Cooked(steamed) brown rice,salad(cucumber/carrots), Moong Dal, with any vegetable cooked with less oil(olive oil or Gingelly oil) + curd(if needed) </td>
        <td>Steamed Sprouts + Tea with/without milk and sugar</td>
        <td>Roti + Any Nonveg(country chicken/mutton) gravy</td>
    </tr>
    <tr>
        <td>Wednesday</td>
        <td>Any 2 Fruits, Oat-Meal/Cereal with Milk </td>
        <td>Cooked(steamed) brown rice, salad(cucumber/carrots), Toor Dal, Fish fry(salmon/sardines or any oily fish)</td>
        <td>Steamed Chickpeas + Tea with/without milk and sugar</td>
        <td> vegetable soup + Chapati(wheat)+ any Veg gravy/paneer </td>

    </tr>
    <tr>
        <td>Thursday</td>
        <td>Any 2 Fruits, Idli/Dosa/Uthapam with sambar and chatni</td>
        <td>Cooked(steamed) brown rice,, salad(cucumber/carrots),sambar ,with any vegetable cooked with less oil(olive oil or Gingelly oil)+ curd if needed </td>
        <td>Tea with/without milk and whole-wheat biscuits(few) + few walnuts</td>
        <td> vegetable soup + rice + any veg gravy/ Non veg</td>
    </tr>
    <tr>
        <td>Friday</td>
        <td>Any 2 Fruits, Brown poha +Almonds(few)</td>
        <td>Cooked(steamed) brown rice,salad(cucumber/carrots), sambar with vegetables and Fish Gravy(salmon/sardines)</td>
        <td>Steamed sprouts + Tea with/without Milk and Sugar</td>
        <td>Roti + veg gravy</td>
    </tr>
    <tr>
        <td>Saturday</td>
        <td> Any 2 fruits, +Nuts(few), Brown bread toast and boiled egg(1)</td>
        <td>Cooked(steamed) brown rice, salad(cucumber/carrots), Vegetable gravy ,with any country chicken/mutton curry.</td>
        <td>Steamed Peas + Tea with/without Milk and Sugar</td>
        <td>Tomato- Soup +Wheat Chapati + Any vegetable gravy/ NonVeg Gravy</td>
    </tr>

</table>




{% endblock %}